numpy==1.26.4
transformers==4.49.0
opencv-python
kornia
py360convert
trimesh
plyfile
pycolmap
evo
timm
einops
segmentation-models-pytorch
uniception==0.1.7
hydra-core
jsonargparse
easydict
wandb
pandas
h5py
imageio
pillow
pyyaml
requests
matplotlib
seaborn
moviepy==1.0.3
tqdm
loguru
fvcore
iopath
etils
shapely
importlib-resources